.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile_header {
    display: flex;
    width: 900px;
    /* margin-bottom: 50px; */
    padding-bottom: 50px;
    border-bottom: 1px solid #bbb;
}

.profile_info {
    margin-left: 100px;
    margin-top: 10px;
}

.info_head {
    display: flex;
    align-items: center;
    gap: 20px;
}

.edit_profile {
    background-color: #fff;
    border: 1px solid #bbb;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

.data_numbers {
    margin-top: 20px;
    display: flex;
    gap: 20px
}

#profile_picture {
    width: 156px;
    height: 156px;
    font-size: 80px;
}

.profile_username {
    font-size: 28px;
    font-weight: 200;
}

.fullName {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.profile_posts {
    padding-top: 15px;
}

.profile_posts_header {
    display: flex;
    /* align-items: center; */
    gap: 70px;
    background-color: yellow;
}

.followBtn,
.followingBtn {
    margin-left: 50px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: rgb(66, 133, 244);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.followingBtn {
    background-color: #fff;
    border: 1px solid #aaa;
    color: black
}

.followingBtn:hover {
    background-color: #eee;
}

.followBtn:hover {
    background-color: rgb(115, 169, 255);
}

.modal_title {
    text-align: center;
    padding: 5px;
    border-bottom: 0.5px solid rgb(126, 126, 126);
}

.modal_list {
    padding: 8px 15px;
    display: flex;
    flex-direction: column;
    gap: 5px
}